body{
  background-color: rgb(199, 197, 197);
  font-family: system-ui;
}
.container{
  background-color: rgb(233, 226, 226);
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding: 50px;
  box-shadow: 0px 10px 50px rgb(102, 91, 91);
  display: grid;
  grid-template-columns: 35% 60%;
  column-gap: 5%;
  row-gap: 20px;
  justify-content: center;
}
.avatar img{
  grid-column: span 35%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar{
  display: flex;
  justify-content: center;
} 

.name{
  padding-left: 30px;
  border-left: 1px solid black;
}

.name h1{
  grid-column: span 60%;
  font-weight: 300;
  font-size: xxx-large;
  margin: 0 0 5px;
}

.name .specialize{
  grid-column: span 60%;
  margin: 0;
  font-weight: bold;
  letter-spacing: 3px;
}

.name .contact{
  grid-column: span 60%;
  padding: 0;
  list-style: none;
}

.name .contact span{
  grid-column: span 60%;
  display: inline-block;
  background-color: black;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: small;
  margin-right: 20px;
}

.name .contact li{
  grid-column: span 60%;
  padding: 5px 0;
  transform: translate(-40px);
  background-color:rgb(233, 226, 226);
}

.info ul{
  grid-column: span 35%;
  margin: 0;
  padding: 0;
  list-style:  none;
  text-align: left;
  line-height: 30px;
  
}

.intro{
  padding-left: 30px;
  border-left: 1px solid black;
  text-align: justify;
  line-height: 30px;
}

h2{
  padding: 0;
  margin: 0 0 20px;
}

.exp{
  text-align: left;
  grid-column: span 35%;
}

.exp h4{
  grid-column: span 35%;
  margin: 20px 0 10px;
}

.skills{
  margin-top: 50px;
  grid-column: span 35%;
}

.exp ul{
  grid-column: span 35%;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 35px;
}

.project{
  grid-column: span 60%;
  padding-left: 30px;
  text-align: justify;
  border-left: 1px solid black;
}

.project .web{
  grid-column: span 60%;
  color: green;
  padding: 10px 0;
}

.project .location{
  grid-column: span 60%;
  font-weight: 500;
  padding: 10px 0;
}

.project .item{
  grid-column: span 60%;
  position: relative;
}

.project .item::before{
  grid-column: span 60%;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: black;
  content: '';
  border-radius: 50%;
  left: -37px;
}

.info h2{
  grid-column:span 60%;
  text-align: left;
}


@media screen and (max-width: 700px ) {
  .container .avatar{
    grid-column: 1 / span 10;
    transform: translate(-25px);
  }
  .container .name{
    grid-column: 2 / span 3;
    transform: translate(-25px);
  }
  .container .info{
    grid-column: 3 / span 8;
    transform: translate(-300px);
  }
  .container .intro{
    grid-column: 4 / span 10;
    transform: translate(-350px);
  }
  .container .exp{
    grid-column: 5 / span 10;
    transform: translate(-340px);
  }
  .container .project{
    grid-column: 6 / span 10;
    transform: translate(-390px);
  }
  
}

